body{
    background-color: rgb(212, 212, 212);
    font-family: 'Roboto Serif', serif;
    color: rgb(0, 0, 0);
    margin: 0;
}

.container{
    margin: 20px 40px;
}

.profile{
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.profile > img{
    margin-left: 300px;
    width: 350px;
    border-radius: 150px;
    border: 3px solid rgb(0, 0, 0);
    padding: 3px;
    box-shadow: 2px 2px 25px rgb(46, 46, 46);
}

.info{
    padding-left: 30px;
    margin-top: 20px;
}

.info h1{
    margin: 0;
}

.info h2{
    font-style: italic;
    margin: 0 0 30px 0;
}

.socials{
    height: 0;
    margin-left: 1150px;
    position: sticky;
    top: 0;
}

.socials a{
    display: block;
    text-decoration: none;
}

.socials img{
    width: 90px;
    padding: 10px;
}

.content{
    margin: 0 40px 0 0;
    align-content: center;
    text-align: justify;
    line-height: 1.5;
}

section{
    margin: 0 0 50px 60px;
    width: 90%;
}

section h1, h4{
    margin: 0 0 10px 0;
}

section ul, p{
    padding: 0;
    margin: 0 0 30px 0;
}

section li{
    margin-left: 20px;
}

.position-title{
    display: flex;
    justify-content: space-between;
}

.skills{
    display: flex;
    justify-content: space-between;
}

.skills h1{
    text-align: center;
}

.back-front{
    display: flex;
}

.back-front h3{
    margin: 0 0 10px 0;
}

.back-front ul{
    padding: 0 20px;
}